


                <html>
                <title></title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

                <body>

                    <div class="w3-card-4">
                        <div class="w3-container w3-green">
                            <h2>Calculator</h2>
                        </div>
                        <form method="post" class="w3-container" action="">
                            <p>
                                Addition is <%= myc %>
                            </p>
                            <p>
                                Subtraction is <%= myd %>
                            </p>
                            <p>
                            <p>
                                Multiplication is <%= mye %>
                            </p>
                            <p>
                                Subtraction is <%= myd %>
                            </p>
                            
                        </form>
                    </div>

                </body>

                </html>