<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>login</title>
  
 
</head>

<body>


 <center>

  <div class="form">
   <br><br>
	  <h1><b>log In </b></h1>
    <form action="" method="post" action = "/login1">
      <input class="name" type="text" placeholder="Username"  name="username"/><br><br>
      <input class="name1" type="password" placeholder="Password" name="password"/><br><br>
      <input type="submit" id="buttn" name="submit" value="login" />
  
    </form>

  </div>
  
  
</div>
 

</center>





</body>

</html>
