<html>
<form method="post">
    Maths: <input type="text" name="txt1"><br><br>
    English: <input type="text" name="txt2"><br><br>
    Biology: <input type="text" name="txt3"><br><br>
    Physics: <input type="text" name="txt4"><br><br>
    Chemistry: <input type="text" name="txt5"><br><br>
    <input type="submit">
</form>

</html>

