
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/signup.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
<body>
    
    <div class="login">
        <h1>Your Credentials!</h1>
          <form method="post"><center>
            <b style="color: white;">User Name : <%= mya %></b><br><br>
            <b style="color: white;">Password : <%= myb %></b><br>
              </center>
          </form>
      </div>
</body>
    </html>