<html>

<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
        }
        
        html {
          box-sizing: border-box;
        }
        
        *, *:before, *:after {
          box-sizing: inherit;
        }
        
        .column {
          float: left;
          width: 33.3%;
          margin-bottom: 16px;
          padding: 0 8px;
        }
        
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          margin: 8px;
        }
        
        .about-section1 {
          padding: 50px;
          text-align: center;
          background-color: #474e5d;
          color: white;
        }
        
        .container {
          padding: 0 16px;
        }
        
        .container::after, .row::after {
          content: "";
          clear: both;
          display: table;
        }
        
        .title {
          color: grey;
        }
        
        .button {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
        }
        
        .button:hover {
          background-color: #555;
        }
        
        @media screen and (max-width: 650px) {
          .column {
            width: 100%;
            display: block;
          }
        }
        </style>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="images/logo.png"width="200" height="80">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">About</a></li>
            <li><a href="/student">Employee</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="about-section1">
        <h1>About Us </h1>
        <br>
        <p>A dummy corporation, dummy company, or false company is an entity created to serve as a front or cover for one or more companies. It can have the appearance of being real (logo, website, and sometimes employing actual staff), but lacks the capacity to function independently.</p>
       
      </div>
      
      <h2 style="background-color: #474e5d; text-align:center; color: white;">Founders</h2>
      <div class="row" style="background-color: #474e5d;">
        <div class="column">
          <div class="card" style="background-color: #FFADAD;">
            <center><img src="/images/1.jpg" alt="Jane" style="width:40% ; height:45%"></center>
            <div class="container">
              <h2>Marina Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card" style="background-color: #FFADAD;">
            <center><img src="/images/2.jpg" alt="Mike" style="width:40%"></center>
            <div class="container">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card" style="background-color: #FFADAD;">
            <center> <img src="/images/3.jpg" alt="John" style="width:40%"></center>
            <div class="container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      
</body>

</html>