<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: #E2C2B9;">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="images/logo.png"width="200" height="80">
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="/users">About</a></li>
        <li><a href="/student">Employee</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

<center>
    <video width="1220" height="560" loop controls>
      <source src="video/sample.mp4" type="video/mp4">
    
    </video>
    <div class="centered"><h3><b>   TIMEQUBE <br>   Pvt. Ltd</b></h3></div><br>
  
    </center>
  </body>
</html>
