<html>
  <body bgcolor="cyan">
      <h2><center><i>Suchit Patil</i></center></h2>
      <hr></hr>
      <a href="/">Home</a> ||
       <a href="/about">About</a>
       ||
       <a href="/form">File Upload</a>
      <hr></hr>
        {{> news}}
        <hr></hr>
      {{{body}}}
      <hr></hr>
      
      <p>This is main page Content!</p>
  </body>
</html>