<html>

<head>
    <link rel="stylesheet" href="stylesheets/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

    <div class="login">
        <h1>Send Mail</h1>
        <form action="/customemail/form1" method="post" style="color: white;">
            To :<input type="text" name="txt1" placeholder="email id" /><br>
            Subject :<input type="text" name="txt2" placeholder="Subject" /><br>
            Body :<input type="text" name="txt3" placeholder="Body" /><br>
            <!-- Attach File :<input type="file" name="txt4" placeholder="Body"  /><br>-->
            <button type="submit" class="btn btn-primary btn-block btn-large">Send</button>
        </form>
    </div>
</body>

</html>