body{
    background: url(img3.jpg);
    background-repeat: no-repeat;
    background-size: 1310px 700px;

}
p{
    border: 5px white;
    color: white;
    text-align: right;
    padding: auto;
    margin: auto;
    padding-top: 20%;
}
h1{
    color: whitesmoke;
    text-align: center;
}
